/* index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("/src/assets/black-friday.jpg") */
  background-color: #e1dede;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(238, 235, 235);
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 8px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.cart-icon {
  margin-right: 10px;
}

.cart-badge {
  display: inline-block;
  margin-left: 2px;
  padding: 2px 6px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(213, 211, 211);
}

.search-bar input {
  width: 300px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.search-icon {
  color: #f8f8f8;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.search-bar button {
  margin-left: 5px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.home {
  margin-top: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.product-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 380px;
}

.product-list li:hover {
  transform: translateY(-5px);
}

.product-list img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 8px;
  object-fit: contain;
}

.product-list h3 {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

.product-list p {
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

.product-list button {
  padding: 5px 10px;
  margin: 2px;
  background-color: #fb6a6e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-list button:hover {
  background-color: #ff4348;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination .active {
  background-color: #0056b3;
}

.cart {
  margin-top: 20px;
}

.total {
  text-align: right;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

#cart-total-txt {
  font-size: 18px;
  text-align: end;
}

#totalButton {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#totalButton:hover {
  background-color: #0056b3;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  height: 290px;
}

.cart img {
  width: 130px;
  height: 130px;
  border-radius: 8px;
  object-fit: contain;
}

.cart h3 {
  margin: 0;
  font-size: 14px;
  text-align: center;
  flex: 1;
}

.cart p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

#cart-remove-button {
  padding: 5px 10px;
  margin: 2px;
  background-color: #fb6a6e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#cart-remove-button:hover {
  background-color: #ff4348;
}

#cart-quant-dec {
  padding: 5px 10px;
  margin: 2px;
  background-color: #fb6a6e;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#cart-quant-dec:hover {
  background-color: #ff4348;
}

#cart-quant-inc {
  padding: 5px 9px;
  margin: 2px;
  background-color: #fb6a6e;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#cart-quant-inc:hover {
  background-color: #ff4348;
}

.cart button:hover {
  background-color: #ff4348;
}

.home-link {
  text-decoration: none;
  color: black;
}

.popup {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: rgb(8, 255, 103);
  border-radius: 5px;
  padding: 5px;
  max-width: 80%;
  width: 300px;
  text-align: center;
}

.popup p {
  font-size: 16px;
  margin-bottom: 10px;
}
